body.page-id-1005 {
  background: $quaternary;
}

#business-card-wrapper {
  max-width: 32rem;
  margin: $spacer auto;

  @include media-breakpoint-up(lg) {
    margin: ($spacer * 4) auto $spacer !important;
  }

  img {
    width: 180px;
    margin-bottom: 0px;
  }

  #business-card {
    margin-top: -90px;
    padding-top: 115px;

    h2 {
      font-size: 1.5rem;
      font-weight: 300;
      margin: $spacer 0;
    }

    a { color: $body-color !important; }

    .wrap-fa {
      display:inline-block;
      width:1.5em;
      text-align:center;
    }

    abbr {
      border: 0;
      text-decoration: none;
    }

    p { font-size: 85% }
  }
}

.mini-links {
  @extend .text-white;
  @extend .text-center;

  font-size: 85%;
  padding-bottom: 0;
  margin-bottom: 0;

  a:link, a:visited {
    @extend .text-white;
  }
  @include media-breakpoint-down(sm) {
    a { display: block }
    .dot { display: none }
  }
}
