@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100%3B0,200%3B0,400%3B0,600%3B0,700%3B1,100%3B1,200%3B1,400%3B1,600%3B1,700&family=Roboto+Slab:wght@100%3B400%3B700&display=swap);
$wp-theme-font-serif: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
$wp-theme-font-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$wp-theme-font-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$wp-theme-font-display: Impact, sans-serif;
$wp-theme-font-base: $wp-theme-font-sans;
$wp-theme-font-headings: $wp-theme-font-serif;
$wp-theme-colour-primary: #4b7d2b;
$wp-theme-colour-secondary: #62225a;
$wp-theme-colour-tertiary: #8e4f31;
$wp-theme-colour-quaternary: #555555;
$wp-theme-colour-dark: #230022;
$wp-theme-colour-light: #f8f9fa;
$wp-theme-colour-success: #669746;
$wp-theme-colour-danger: #d86565;
$wp-theme-colour-warning: #eeee22;
$wp-theme-colour-info: #7093b5;
$wp-theme-page-bg: white;
$wp-theme-page-text: $wp-theme-colour-dark;
$wp-theme-page-link: $wp-theme-colour-primary;
$wp-theme-page-muted: $wp-theme-colour-quaternary;
$wp-theme-header-bg: $wp-theme-colour-dark;
$wp-theme-header-text: $wp-theme-colour-light;
$wp-theme-header-hover: white;
$wp-theme-header-dropdown-bg: $wp-theme-colour-secondary;
$wp-theme-header-dropdown-text: $wp-theme-colour-light;
$wp-theme-floating-icons-bg: $wp-theme-colour-primary;
$wp-theme-floating-icons-text: white;
$wp-theme-floating-icons-hover: lighten($wp-theme-colour-primary, 10%);
$wp-theme-floating-icons-class: floating-icons-left;
